<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <h1>TEST1</h1>
    <div id="app-5">
        <p>{{ message }}</p>
        <button @click="reverseMessage">逆转消息</button>
        <input type="text" name="txt" v-model="message">
        <ul>
            <todo-item v-for="item in list" :item="item"></todo-item>
        </ul>
    </div>
    <script type="text/javascript">
    Vue.component('todo-item', {
        props:['item'],
        template:'<li>{{item}}</li>'
    });
    var app5 = new Vue({
        el: '#app-5',
        data: {
            message: 'Hello Vue.js!',
            list: []
        },
        methods: {
            reverseMessage() {
                this.message = this.message.split('').reverse().join(''),
                    this.list.push(this.message),
                    this.info = ''
            }
        }
    })
    </script>
</body>

</html>